.contenedor {
  display: flex;
  height: 100vh;
  background-color: #333;
}

.sidebar {
  width: 25%;
  background-color: #333;
  color: white;
  padding: 0;
}

.contenedor-pagina {
  flex: 1;
  height: 100vh;
  overflow: auto;
}


/**********Arriba***********/

.arriba {
  width: 100%;
  background-color: #333;
  color: white;
  height: 37vh;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.informacion-seccion-basica {
  width: 33%;
  background-color: rgb(56, 56, 58);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-color: white;
  margin-right: 5px;
}

.informacion-seccion-historial {
  width: 33%;
  background-color: rgb(56, 56, 58);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-color: white;
  margin-right: 5px;
}

.informacion-seccion-objetivos {
  width: 33%;
  background-color: rgb(56, 56, 58);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-color: white;
  margin-right: 5px;
}

.seccion-titulo {
  margin-top: 0;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.info-cliente {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-detalle {
  display: flex;
  justify-content: start;
  width: 100%;
}

.img-container {
  width: 150px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.img-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-detalle-left,
.info-detalle-right {
  display: flex;
  flex-direction: column;
}

.info-detalle p {
  margin: 5px 0;
}

/*************Abajo**************/

.abajo {
  flex: 1;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  flex-direction: column;
}

.tab-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.tab {
  cursor: pointer;
  padding: 1px 20px;
  border: 2px solid transparent;
  border-radius: 5px 5px 0 0;
  background-color: rgb(56, 56, 58);
  color: white;
  transition: all 0.3s ease;
}

.tab.active {
  background-color: #ffd700;
  color: #333;
  border-bottom: 2px solid #333;
}

.tab:hover {
  background-color: #ffc107;
}

.content-container {
  flex: 1;
  padding: 5px;
}

.progreso-container {
  display: none;
}

.progreso-container.active {
  display: flex;
  flex-direction: column;
}

.grafico-composicion-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.grafico-container {
  flex: 1;
  margin-left: 10px;
  height: 90%;
  width: 60%;
}

.composicion-container {
  width: 35%;
  height: 45vh;
  background-color: rgb(56, 56, 58);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.acciones-container {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  
}

.acciones-container button {
  border-radius: 5px;
  padding: 5px;
  background-color: #ffd700;
  font-weight: bold;
  border: none;
}

input {
  background-color: #666;
  border: none !important;
  color: white !important;
}

.btn-guardar {
  color: #333 !important;
}

/****LOADER******/

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ajusta la altura del loader para que cubra toda el contenedor-pagina */
  width: 100%; /* Ajusta el ancho del loader para que cubra toda la pantalla */
  position: absolute; /* Ajusta la posición del loader para que esté superpuesto */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta el color de fondo para que sea semi-transparente */
  z-index: 9999; /* Asegura que el loader esté por encima de otros elementos */
}

.loader {
  width: 50px;
  height: 50px; /* Ajusta el tamaño del loader según tus preferencias */
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  animation: l24 1s infinite linear;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}

.loader:after {
  animation-duration: 4s;
}

@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}

@media (max-width: 768px) {

  .contenedor {
    flex-direction: column;
  }

  .sidebar {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0;
  }

  .grafico-composicion-wrapper {
    flex-direction: column;
  }

  .grafico-container {
    flex: 1;
    margin-left: 0;
    width: 100%;
  }

  .acciones-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
  }

  .composicion-container {
    width: 100%;
    height: auto;
    background-color: rgb(56, 56, 58);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    margin-left: 0;
    margin-right: 0;
  }

  .arriba {
    width: 100%;
    background-color: #333;
    color: white;
    height: 37vh;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    overflow-x: auto;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  
  .informacion-seccion-basica {
    flex: 0 0 100%; /* Establece el ancho de cada sección para que sean visibles en pantallas pequeñas */
    min-width: 80%; /* Asegura que cada sección tenga un ancho mínimo del 80% */
    background-color: rgb(56, 56, 58);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: white;
    margin-right: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    height: auto;
    overflow: auto;
  }
  
  .informacion-seccion-historial {
    flex: 0 0 100%; /* Establece el ancho de cada sección para que sean visibles en pantallas pequeñas */
    min-width: 80%; /* Asegura que cada sección tenga un ancho mínimo del 80% */
    background-color: rgb(56, 56, 58);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: white;
    margin-right: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    height: auto;
    overflow: auto;
  }
  
  .informacion-seccion-objetivos {
    flex: 0 0 100%; /* Establece el ancho de cada sección para que sean visibles en pantallas pequeñas */
    min-width: 80%; /* Asegura que cada sección tenga un ancho mínimo del 80% */
    background-color: rgb(56, 56, 58);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: white;
    margin-right: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    height: auto;
    overflow: auto;
  }

}